.main-heading {
    display: block;
    position: relative;
    margin: 25px 0px 0px 5%;
    font-size: 16pt;
}
.log-cont {
    display:block;
    position: relative;
    border: 1px solid black;
    margin: 10% auto;
    height: 50%;
    width: 80%;
}
.user-input {
    position: relative;
    margin: 10% auto auto 25%;
}
.password-input {
    position: relative;
    margin: 5% auto 10% 25%;
}
.submit {
    float: right;
    bottom: 40px;
    right: 5%;
    display: inline-block;
    position: relative;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 10pt;
}