.signup-cont {
    position: relative;
    display: block;
    width: 80%;
    margin: 100px auto 0px;
}
#f-name, #l-name,  #bday, #city, #state, #email, #tweet, #i-gram, #f-book {
    margin-top: 25px;
}
.f-name, .l-name,  .bday, .city, .state, .email, .tweet, .i-gram, .f-book {
    width: 170px;
    margin-left: 10px;
}
.submit {
    float: right;
    top: 40px;
    right: 5%;
    position: relative;
}