.signup-cont {
    position: relative;
    display: block;
    width: 80%;
    margin: 90px auto 0px;
}
.reg-head {
    position: relative;
    bottom: 60px;
    font-size: 16pt;
    right: 30px;
}
#f-name, #l-name,  #bday, #city, #state, #email, #tweet, #i-gram, #f-book, #about {
    margin-top: 25px;
    left: 25px;
}
.f-name, .l-name,  .bday, .city, .state, .email, .tweet, .i-gram, .f-book, .about {
    width: 170px;
    margin-left: 10px;
}
.about {
    width: 300px;
    height: 150px;
}
.submit {
    float: right;
    top: 40px;
    right: 5%;
    position: relative;
}