.main-heading {
    display: block;
    position: relative;
    margin: 25px 0px 0px 5%;
    font-size: 16pt;
}
.log-cont {
    display:block;
    position: relative;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 2px 2px 5px lightslategray;
    margin: 10% auto;
    height: 315px;
    width: 70%;
}
.user-input {
    position: relative;
    width: 50%;
    margin: 11% auto auto;
}
.password-input {
    position: relative;
    width: 50%;
    margin: 5% auto 10%;
}
.join {
    position: relative;
    float: right;
    top: 12px;
    right: 170px;
    text-decoration: none;
    color: black;
}
.join:hover {
    color: royalblue;
}
@media screen and (max-width: 480px) {

}
@media screen and (min-width: 481px) and (max-width: 768px) {
    .log-cont {
        height: 340px;
    }
    .user-input {
        margin-top: 7%;
    }
    .password-input {
        margin-bottom: 4%;
    }
    .join {
        top: 5px;
        right: 140px;
    }
    .login {
        left: 25px;
        font-size: 12pt;
        top: 0px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .username {
        width: 50%;
    }
    .pass-input {
        width: 50%;
    }
    .log-cont {
        padding: 0 0 10%;
    }
    .login {
        padding: 10px 15px;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .log-cont {
        height: 400px;
        width: 60%;
    }
    .join {
        top: -8px;
    }
    .login {
        padding: 10px 15px;
        bottom: 20px;
    }
}
@media screen and (min-width: 1201px) {
    .log-cont {
        height: 450px;
        width: 60%;
    }
    .join {
        right: 185px;
    }
    .login {
        padding: 10px 15px;
    }
}
