.title {
    display: flex;
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 15px 0px;
    font-size: 24pt;
    background-color: gold;
    text-indent: 25px;
    color: white;
    box-shadow: 2px 2px 5px lightgray;
}